/*  #Flip Box
------------------------------------- */
.elematic-flip-box-content {
    width: 100%;
}
.elematic-flip-box-image {
  margin-bottom: 15px;
  display: inline-block;
}
.elematic-flip-box-image img {
  width: 48px
}
.elematic-flip-box-image i {
  font-size: 32px;
}
.elematic-flip-box-title,
.elematic-flip-box-desc {
  color: #fff;
}
.elematic-flip-box-front-wrap {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #45016a;
  color: #fff;
  -webkit-display: flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.elematic-flip-box-back-wrap {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #684edb;
  color: #fff;
  display: flex;
  -webkit-display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.elematic-flip-box-front-wrap,
.elematic-flip-box-back-wrap {
  transition-duration:500ms;
  transition-property: all;
  transition-timing-function: ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transform: rotateY(0deg);
  padding: 30px;
}
.elematic-flip-box-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: all;
  transition-timing-function: ease;
}
.elematic-flip-box-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  perspective: 1000px;
}

/* Flip Style */
.elematic-flip-box-wrapper.elematic-flip-box-flip-up:hover .elematic-flip-box-container,
.elematic-flip-box-flip-up .elematic-flip-box-back-wrap {
  transform: rotateX(180deg);
}
.elematic-flip-box-wrapper.elematic-flip-box-flip-down:hover .elematic-flip-box-container,
.elematic-flip-box-flip-down .elematic-flip-box-back-wrap {
  transform: rotateX(-180deg); 
}
.elematic-flip-box-wrapper.elematic-flip-box-flip-left:hover .elematic-flip-box-container,
.elematic-flip-box-flip-left .elematic-flip-box-back-wrap {
  transform: rotateY(-180deg); 
}
.elematic-flip-box-wrapper.elematic-flip-box-flip-right:hover .elematic-flip-box-container,
.elematic-flip-box-flip-right .elematic-flip-box-back-wrap {
  transform: rotateY(180deg); 
}
.elematic-flip-box-flip-zoom-in .elematic-flip-box-back-wrap {
  opacity:0;
  transform: scale(0.75);
  z-index:3;
}
.elematic-flip-box-wrapper.elematic-flip-box-flip-zoom-in:hover .elematic-flip-box-back-wrap {
  opacity:1;
  transform: scale(1);
}
.elematic-flip-box-wrapper.elematic-flip-box-flip-zoom-out:hover .elematic-flip-box-front-wrap {
  opacity:0;
  transform: scale(0.75);
}