/*  #Timeline
------------------------------------- */
@-webkit-keyframes elematic-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes elematic-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes elematic-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes elematic-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes elematic-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes elematic-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.elematic-timeline-wrap {
    position: relative;
    padding: 1.25em 0;
    overflow: hidden;
}

@media (min-width: 64rem) {
    .elematic-timeline-wrap::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.elematic-timeline-container {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.elematic-timeline-container:last-child {
    margin-bottom: 0
}

@media (min-width: 64rem) {
    .elematic-timeline-container:nth-child(even) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

.elematic-timeline-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 7px;
    width: 40px;
    height: 40px;
    background-color: #bbb;
    border-radius: 50%;
    box-shadow: 0 0 0 4px hsl(0, 0%, 100%), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.elematic-timeline-icon i {
    font-size: 24px;
    color: white;
}
.elematic-timeline-icon svg {
    width: 24px;
    fill: #555;
}
@media (min-width: 64rem) {
    .elematic-timeline-icon {
        width: 50px;
        height: 50px;
        -ms-flex-order: 1;
        order: 1;
        margin-left: calc(5% - 25px);
        margin-top: 10px;
        will-change: transform
    }
    .elematic-timeline-container:nth-child(even) .elematic-timeline-icon {
        margin-right: calc(5% - 25px)
    }
}

.elematic-timeline-content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    margin-left: 1.25em;
    background-color: #fff;
    border-radius: 0.25em;
    padding: 1.25em;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.elematic-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #fff;
}

@media (min-width: 64rem) {
    .elematic-timeline-content {
        width: 45%;
        -ms-flex-positive: 0;
        flex-grow: 0;
        will-change: transform;
        margin: 0;
        margin-bottom: 40px;
        --line-height-multiplier: 1.2
    }
    .elematic-timeline-content::before {
        top: 24px
    }
    .elematic-timeline-container:nth-child(odd) .elematic-timeline-content::before {
        right: auto;
        left: 100%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-left-color: #fff;
    }
}

@media (min-width: 64rem) {
    .elematic-timeline-date {
        position: absolute;
        width: 100%;
        left: 120%;
        top: 20px
    }
    .elematic-timeline-container:nth-child(even) .elematic-timeline-date {
        left: auto;
        right: 120%;
        text-align: right
    }
}

@media (min-width: 64rem) {
    .elematic-vhidden {
        visibility: hidden
    }
    .elematic-timeline-icon-bounce-in {
        -webkit-animation: elematic-bounce-1 0.6s;
        animation: elematic-bounce-1 0.6s
    }
    .elematic-timeline-content-bounce-in {
        -webkit-animation: elematic-bounce-2 0.6s;
        animation: elematic-bounce-2 0.6s
    }
    .elematic-timeline-container:nth-child(even) .elematic-timeline-content-elematic-bounce-in {
        -webkit-animation-name: elematic-bounce-2-inverse;
        animation-name: elematic-bounce-2-inverse
    }
}

.elematic-timeline-line,
.elematic-timeline-line .elematic-timeline-line-over {
  position: absolute;
  top: 30px;
  left: 18px;
  height: 100%;
  width: 4px;
  z-index: -2;
  overflow: hidden;
}
.elematic-timeline-line {
  background-color: #E5E5E5;
}
.elematic-timeline-line .elematic-timeline-line-over {
    width: 6px;
    margin-left: -2px;
}
.elematic-timeline-line .elematic-timeline-line-over {
  z-index: -1;
  height: 0px;
  background-color: #bbb;
}
.elematic-timeline-line .elematic-timeline-line-over {
  opacity: 0;
}
.elematic-timeline-container.highlight .elematic-timeline-line .elematic-timeline-line-over {
  opacity: 1;
}

@media only screen and (min-width: 992px) {
  .elematic-timeline-line,
  .elematic-timeline-line .elematic-timeline-line-over  {
    left: 50%;
    margin-left: -2px;
  }
}

.elematic-timeline-line-over.elematic-highlighted {
  background-color: #bbb;
  opacity: 1;
}

.elematic-timeline-content h3 {
    padding-top: 1rem;
}
.elematic-timeline-custom-excerpt {
  padding-top: 5px;
}
.elematic-timeline-btn {
    padding-top: 20px;
    padding-bottom: 10px;
}
.elematic-timeline-btn a{
    padding: 8px 20px;
    border-radius: 3px;
    background-color: #8CC63F;
    color: white;
}
.elematic-timeline-btn a:hover {
    color: white;
    background-color: #AEDB49;
}
.elematic-timeline-wrap .elematic-read-more:after {
  display: none;
}
@media(max-width:768px) {
  .elematic-timeline-container:nth-child(odd) .elematic-timeline-content::before {
    border-left-color:transparent !important
  }
}