/*  #Gallery
---------------------------------- */
.elematic-gallery-filters {
  padding: 0;
}
.elematic-gallery-search {
    margin-bottom: 20px;
}
.elematic-gallery-search-input {
    padding: 3px 15px;
}
.elematic-gallery-filter {
  display: flex;
  margin: 15px 0;
  padding: 0;
  float: left;
}
.elematic-gallery-filter-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 5px 5px 0;
  padding: 5px 14px;
  list-style: none;
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  border-radius: 2px;
  background-color: #424242;
}
.elematic-gallery-filter-item:hover {
  background-color: #111;
}
.elematic-gallery-filter-item.active {
  background-color: #ff4949;
}
.elematic-gallery-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.elematic-gallery-icons i {
    color: white;
    font-size: 25px;
}
.elematic-gallery-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.elematic-gallery-grid:after {
  content: '';
  display: block;
  clear: both;
}
.elematic-gallery-item {
  position: relative;
  float: left;
}
.elematic-gallery-item img {
    width: 100%;
}
.elematic-gallery-item.card {
  background-color: transparent;
  border: none;
}
.elematic-gallery-item.media {
  display: block;
}
.elematic-gallery-title-bar {
    position: absolute;
    background-color: rgba(255,38,38,0.4);
    padding: 10px;
    bottom: 0;
    width: 100%;
    display: flex;
}
.elematic-gallery-style-3 .elematic-gallery-title-bar,
.elematic-gallery-style-4 .elematic-gallery-title-bar {
    position: relative;
    margin-top: -38px;
}
.elematic-gallery-name,
.elematic-gallery-categoy {
  margin: 0;
  width: 100%;
  font-size: 16px;
}
.elematic-gallery-name,
.elematic-gallery-name a,
.elematic-gallery-categoy {
  color: white;
  font-weight: 600;
}
.elematic-gallery-categoy {
  text-align: right;
}
.elematic-gallery-desc {
  position: absolute;
  top: 0;
  padding: 20px;
  color: white;
}
.elematic-gallery-name a:hover,
.elematic-gallery-popup i:hover,
.elematic-gallery-link i:hover {
  color: #ffcf20;
}
.elematic-gallery-popup {
  margin-right: 15px;
  cursor: pointer;
}
.elematic-gallery-link {
  margin-left: 15px;
}
.elematic-gallery-grid .elematic-modal-close {
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
    font-size: 30px;
    color: var(--color-primary);
    transition: .3s all;
}
.elematic-gallery-grid .modal-dialog:hover .elematic-modal-close {
    color: red;
}
.elematic-gallery-style-2 .elematic-gallery-item .elematic-gallery-title-bar {
  transition: all 0.3s ease 0s;
  opacity: 0;
  margin-bottom: -50px;
}
.elematic-gallery-style-2 .elematic-gallery-item .elematic-gallery-desc {
  transition: all 0.5s ease 0s;
  opacity: 0;
  margin-top: -30px;
}
.elematic-gallery-style-2 .elematic-gallery-item .elematic-gallery-overlay {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.elematic-gallery-style-2 .elematic-gallery-item:hover .elematic-gallery-overlay {
  opacity: 1;
}
.elematic-gallery-style-2 .elematic-gallery-item:hover .elematic-gallery-icons {
  transform: scale(1);
}
.elematic-gallery-style-2 .elematic-gallery-item:hover .elematic-gallery-title-bar {
  opacity: 1;
  margin-bottom: 0;
}
.elematic-gallery-style-2 .elematic-gallery-item:hover .elematic-gallery-desc {
  opacity: 1;
  margin-top: 0;
}
.elematic-gallery-style-2 .elematic-gallery-item .elematic-gallery-icons {
  transform: scale(0) translateX(-50%);
  transition: all 0.4s ease 0s;
}
.elematic-gallery-style-2 .elematic-gallery-item:hover .elematic-gallery-icons {
  transform: scale(1) translateX(-50%);
}