/* Accordion
----------------------------*/

.elematic-accordion {
    text-align: start
}

.elematic-accordion .elematic-accordion-item {
    border: 1px solid #d5d8dc
}

.elematic-accordion .elematic-accordion-item+.elematic-accordion-item {
    border-top: none
}

.elematic-accordion .elematic-accordion-tab-title {
    margin: 0;
    padding: 15px 20px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    outline: none
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon {
    display: inline-block;
    width: 1.5em
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon svg {
    width: 1em;
    height: 1em
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon.elematic-accordion-icon-right {
    float: right;
    text-align: right
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon.elematic-accordion-icon-left {
    float: left;
    text-align: left
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon .elematic-accordion-icon-closed {
    display: block
}

.elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon .elematic-accordion-icon-opened,
.elematic-accordion .elematic-accordion-tab-title.elematic-accordion-active .elematic-accordion-icon-closed {
    display: none
}

.elematic-accordion .elematic-accordion-tab-title.elematic-accordion-active .elematic-accordion-icon-opened {
    display: block
}

.elematic-accordion .elematic-accordion-tab-content {
    display: none;
    padding: 15px 20px;
    border-top: 1px solid #d5d8dc
}

@media (max-width: 767px) {
    .elematic-accordion .elematic-accordion-tab-title {
        padding:12px 15px
    }

    .elematic-accordion .elematic-accordion-tab-title .elematic-accordion-icon {
        width: 1.2em
    }

    .elematic-accordion .elematic-accordion-tab-content {
        padding: 7px 15px
    }
}
