/*  #Logo
------------------------------------- */
.elematic-logo-widget {
    position: relative;
    display: inline-table;
    overflow: hidden;
}

.elematic-logo-widget-image img {
    display: block;
}

.elematic-logo-widget-description {
    margin: 0;
}

.elematic-logo-widget-image,
.elematic-logo-widget-text {
    position: relative;
    display: block;
    width: 100%;
    z-index: 7;
}

.elematic-logo-widget-url {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.elematic-logo-widget-position-left .elematic-logo-widget-image,
.elematic-logo-widget-position-left .elematic-logo-widget-text {
    float: left;
}

.elematic-logo-widget-position-right .elematic-logo-widget-image,
.elematic-logo-widget-position-right .elematic-logo-widget-text {
    float: right;
}

.elematic-logo-widget-position-center .elematic-logo-widget-image {
    margin: 0 auto;
}

.elematic-logo-widget-position-center .elematic-logo-widget-text {
    text-align: center;
}

.elematic-logo-widget-position-left .elematic-logo-widget-text,
.elematic-logo-widget-position-right .elematic-logo-widget-text {
    text-align: left;
}

/* Defaults */
.elementor-widget-inbiz-logo .elematic-logo-widget-title {
    font-size: 16px;
    line-height: 1.5;
}

.elementor-widget-inbiz-logo .elematic-logo-widget-description {
    font-size: 13px;
}