/*  #Circle Progress Bar
------------------------------------- */
.elematic-circle-progress-bar {
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pie_progress__svg {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.pie_progress__svg svg {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.pie_progress__content, .pie_progress__number, .pie_progress__label, .pie_progress__icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pie_progress__number {
  font-size: 42px;
}
.pie_progress__label {
  margin-top: 32px;
  font-size: 12px;
}
.elematic-circle-progress-bar .pie_progress__svg svg path {
  stroke: #AEDB49;
}
.elematic-linecap-round .pie_progress__svg svg path {
  stroke-linecap: round;
}
.elematic-linecap-square .pie_progress__svg svg path {
  stroke-linecap: square;
}
.elematic-linecap-butt .pie_progress__svg svg path {
  stroke-linecap: butt;
}
.elematic-cpb-before-txt {  
  position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
.elematic-cpb-percentage-txt {  
  position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.elematic-cpb-after-txt { 
  position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}