/*  #Features
------------------------------------- */
.elematic-ft-subtitle {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 5px; 
}
.elematic-ft-desc {
    color: #727272;
    line-height: 1.8;
    margin-bottom: 20px;
}
.elematic-ft-image-content {
  overflow: hidden;
}
.elematic-ft-image-content img {
  width: 100%;
  overflow: hidden;
}
.elematic-ft-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}
.elematic-ft-image-content, 
.elematic-ft-text-content {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 50%; 
}
@media only screen and (min-width: 768px) {
  .elematic-ft-text-content {
      max-width: 500px;
  }
  .elematic-ft-wrapper:nth-child(even) .elematic-ft-image-content {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-order: 2;
      -ms-flex-order: 2;
      order: 2; 
  }
  .elematic-ft-wrapper:nth-child(even) .elematic-ft-text-content {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-order: 1;
      -ms-flex-order: 1;
      order: 1; 
  } 
}
@media only screen and (min-width: 768px) {
  .elematic-ft-container:not(.elematic-ft-tiled) .elematic-ft-wrapper {
      margin-bottom: 80px; 
  }
  .elematic-ft-container:not(.elematic-ft-tiled) .elematic-ft-wrapper .elematic-ft-image-content {
        max-width: 520px; 
  }

}
@media only screen and (max-width: 767px) {
  .elematic-ft-wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; 
      margin-bottom: 50px;
  }
  .elematic-ft-image-content, 
  .elematic-ft-text-content {
        width: 100%;
  }
  .elematic-ft-image-content {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 50px; 
  }
  .elematic-ft-text-content {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

}
