/*  #Image Scrolling
---------------------------------- */
.elematic-is-wrap .elematic-is-container img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.elematic-is-container:hover img {
    -o-object-position: bottom;
    object-position: bottom;
}
.elematic-is-caption {
    padding: 10px;
}